[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

jupyter = "*"
"pymorphy2" = "*"
nltk = "*"
pandas = "*"
sklearn = "*"
scipy = "*"
keras = "*"
tensorflow = "*"


[dev-packages]

